.card {
	width: 200px;
	height: 312px;
	border: solid 1px #000;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;

	hr {
		width: 100%;
		margin: 0;
	}
	.card-img {
		width: 80px;
	}
}
